*{
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
}

body{
	background-color: #FFE4B5;
}

a{
	font-family: 'Quicksand', sans-serif;
	text-decoration: none;
	color: #2E8B57;
	font-weight: 400;
}

p{
	font-size: 20px;
	line-height: 2;
}

#navbar-container{
	margin: 0;
	position: sticky;
	top:0px;
	height:60px;
	width: 100%;
	background-color: #FFE4B5; 
	padding-top: 10px;
	z-index: 1000;
}

#navbar{
}

#navbar li{
	float: left;
	margin-left: 5vw;
}

#navbar ul{
	list-style-type: none;
}

#blog{
	padding: 120px 12vw 0px;
}

#title h1{
	font-size: 80px;
}

#posts-container{
	padding-top: 40px;
	padding-left: 4vw;
	padding-right: 4vw;
}

#posts-container h1{
	font-weight: 400;
}

.post{
	border:solid 1px;
	padding: 20px 40px;
	background-color: #FFF5EE;
	border-radius: 10px;
}

.post p{
	text-align: justify;
}

.update{
	font-style: italic;
}

.pic{
	text-align: center;
	padding-bottom: 20px;
}

.pic img{
	width: 80%;
	max-width: 800px;
	border-radius: 10px;
}